
@{
    ViewBag.Title = "AfterLogin";
    Layout = "~/Views/Home/Index.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="@Url.Content("~/style.css")" rel="stylesheet" />

<h2>AfterLogin</h2>

@if (Session["LoginCustomerName"] != null)
{
    <text>
        Welcome @Session["LoginCustomerName"].ToString()
    </text>
}
