@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/img/ghmh02.jpg"  style="width:100%;height:100%;"/>
    <h1>MEDIX</h1>
    <p class="lead">
        Feel relaxed by visiting our. We are commited to provide you best service, so
        you can live feet and healty.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started Doctor portal</h2>
        <p>
           Visit Doctor Portal to get detail about Doctor's name, office number,email, address and contact number. You can also add,update,delete doctor's information.
           User can also see detail about doctor.
        </p>
        <p><a class="btn btn-default" href="~/Doctors/Index">GoTo Doctor Portal &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started Patient Portal</h2>
        <p>
            Visit Patient Portal to get detail about Patient's name, doctor's name ,email, contact number
            and address. You can also add,update,delete doctor's information.
            User can also see detail about doctor as well as patient information.
        </p>
        <p><a class="btn btn-default" href="~/Patient2/Index">GoTo Patient Portal &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more about Visit</h2>
        <p>You can easily find Visit about Patient.</p>
        <p><a class="btn btn-default" href="~/Visits/Index">Check Visit &raquo;</a></p>
    </div>
</div>