.slider{
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}
 .carousel-inner img {
      width: 100%;
	  height: 100%;
 }