/* MAIN PAGE CSS */
.glyphicon-lock{
	font-size: 25px;
}	
.modal{
	padding-right: -16px;
}	
.back{
	background: url(../Images/back.png);
    background-position: center;
	height: 750px;
	width: 100%;
	padding: 140px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}
.rounded {
    position: relative;
}

.caption p{
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
	padding-left:30px;
	font-size: 17px;
	color: white;
	padding-top: 30px;
}

/* FLIGHT PAGE CSS */
.slider{
	height:100%;
	width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}	

/* ABOUTUS PAGE CSS */
.aboutusPage{
	background: url(../Images/about.png);
	background-position: center;
    background-repeat: no-repeat;
	height: 100%;
	width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
	position:relative;
}

.footer{
	font-family: verdana;
    padding: 1em;
	background-color:white;
	position:relative;
	text-align: center;
}

.rounded {
    position: relative;

}

.aboutimage{
	max-width: 100%;
    height: auto;
	margin-top:100px;
}	
/*.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-width: 100%;
    height: auto;
	margin-top:100px;
}*/

#soc-med {
    margin-top: 10px;
}

#soc-med a {
	 margin: auto;
}

.pull-left {
    float: left!important;
    margin-top: 100px;
    color: white;
}

/* LOGIN PAGE CSS */
#loginform {
    border: 3px solid transparent;
	position: relative;
}

/* SIGNUP PAGE CSS */
.signuppage{
	background-image: url(../Images/signup.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
	position:relative;
}
#signupform {
    border: 3px solid transparent;
	position: relative;
}	

/* CONTACT PAGE CSS */
.content{
	overflow: visible;
	height: auto;
}	
.box{
	background: transparent;
	background-color: gainsboro;
	opacity: 0.7;
	overflow: hidden;
	margin-top: 38px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}